@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
$def-border: 1px solid #ccc;
/*-------------------------------*/
.slider {
    height: clamp(255px, 40vw, 285px);
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    transition: 1s;
    background-color: #fff;
    border: $def-border;
    border-radius: 10px;
    font-family: "Brush Script MT", cursive;

    & > p {
        height: 20px;
    }
}
/*-------------------------------*/
.slider__title {
    font-size: 1.25rem;

    a {
        display: inline-block;
    }
}

.slider__title-website-link {
    &:hover {
        text-decoration: underline;
        color: rgb(80, 14, 14);
    }
}

.slider__title-source-code-link {
    height: 100%;
    margin-left: 10px;

    img {
        height: 100%;
    }

    &:hover {
        img {
            scale: 1.1;
        }
    }
}
/*-------------------------------*/
.slider__sliding-area {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 10px;
}

.slider__sliding-area--hovered-right,
.slider__sliding-area--hovered-left {
    cursor: pointer;
}
.slider__sliding-area--hovered-right {
    .slide--right {
        box-shadow: 0 0 0 30px rgba(163, 151, 151, 0.2);
    }
}
.slider__sliding-area--hovered-left {
    .slide--left {
        box-shadow: 0 0 0 30px rgba(163, 151, 151, 0.2);
    }
}
/*-------------------------------*/

.slider__slides-container {
    width: 100%;
    height: 90%;
    padding-top: 15px;
    position: relative;
    @include centered;
}
/*-------------------------------*/

.slider__slide {
    $correlation: 550 / 300;
    width: clamp(180px, 40vw, 330px);
    height: calc(clamp(180px, 40vw, 330px) / $correlation);
    position: absolute;
    flex-shrink: 0;
    transition: transform 0.7s, scale 0.7s, box-shadow 0.3s, background-color 0.3s;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        box-shadow: 0 0 5px 2px rgba(32, 32, 32, 0.5);
    }
}

.slide--selected {
    scale: 1;
    transform: translateX(0);
    transition: transform 0.7s, scale 0.7s, box-shadow 0.3s, background-color 0.3s;

    &:hover {
        scale: 1.03;
    }
}

.slide--right,
.slide--left {
    scale: 0.8;
}
.slide--right {
    transform: translateX(150%);
}
.slide--left {
    transform: translateX(-150%);
}
.slide--right-hidden,
.slide--left-hidden {
    transition: 1.2s;
    scale: 0.4;
}
.slide--right-hidden {
    transform: translateX(470%);
}
.slide--left-hidden {
    transform: translateX(-470%);
}
/*-------------------------------*/
.slider__btn {
    $this-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    height: $this-size;
    width: $this-size;
    background: #fff;
    border: $def-border;
    border-radius: 50%;
    @include centered;

    img {
        transition: 0.2s;
    }

    &:hover:not(:disabled) {
        background: rgba(205, 231, 188, 1);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.slider__btn-to-left {
    left: 2%;
    img {
        rotate: 180deg;
        margin-right: 2px;
    }
}
.slider__btn-to-right {
    right: 2%;
    img {
        margin-left: 2px;
    }
}
/*-------------------------------*/
.slider__dots-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .slider__dot {
        display: inline-block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: lightblue;
        transition: 0.2s;
    }

    .slider__dot--selected {
        scale: 2;
    }
}
/*===================================*/

@media (max-width: 599px) {
    .slider__dots-container {
        bottom: 5px;
    }
}
/*===================================*/
@media (max-width: 399px) {
    .slider__slides-container {
        align-items: baseline;
    }
    /*-------------------------------*/
    .slider__btn {
        top: auto;
        transform: translateY(0);
        bottom: 10px;
    }
    .slider__btn-to-left {
        left: 30%;
    }
    .slider__btn-to-right {
        right: 30%;
    }
    /*-------------------------------*/

    .slider__tech-stack {
        font-size: 0.85rem;
    }
}
